{% extends 'cartomantes/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<h3 class="text-center">Bem-Vinda à Área Mística!</h3>
			<p class="text-center">
				Saiba seu futuro conosco, marque um horário com um de nossos Médiuns!
			</p>
			<p class="text-center">Resultados para os quatro planos: 
			</p>
			<p>
				<center>
					<ul class="no-bullets">
						<li class="">Material</li>
						<li class="">Mental</li>
						<li class="">Sentimental</li>
						<li class="">Espiritual</li>
					</ul>
				</center>
			</p>
			<p class="text-center"><i>Trabalhe Conosco! Faça parte de nossa Equipe!</i></p>
			<div class="row d-flex">
				<div class="col-lg-6" align="center">
					{% if user.is_authenticated %}
					<a href="{% url 'registrar_medium' %}">
						<button class="btn btn-dark mb-3">
							Registrar-se como Médium
						</button>
					</a>
					{% endif %}
					<a href="{% url 'criar_usuario' %}">
						<button class="btn btn-dark mb-3">
							Registrar-se no Site
						</button>
					</a>
				</div>
				<div class="col-lg-6" align="center">
					<a href="{% url 'cartomantes' %}">
						<button class="btn btn-dark mb-3">
							Ver Médiuns Cadastrados
						</button>
					</a>
					{% if user.is_authenticated %}
					<a href="{% url 'cartomantes' %}">
						<button class="btn btn-dark mb-3">
							Editar Médiuns
						</button>
					</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6">
			<figure>
				<img src="/static/img/78878.jpg" alt="" class="img-fluid">
			</figure>
		</div>
	</div>
</div>

{% endblock content %}